<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>539204673850-668snbrjirlj8cnq6ek08pobb3rglodt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.539204673850-668snbrjirlj8cnq6ek08pobb3rglodt</string>
	<key>API_KEY</key>
	<string>AIzaSyDD_QXr1ms9bx4-Xd2RKiXE6cU7CyL52_I</string>
	<key>GCM_SENDER_ID</key>
	<string>539204673850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.farid.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-1cd57</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-1cd57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539204673850:ios:18d79cac3fb3680f</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-1cd57.firebaseio.com</string>
</dict>
</plist>